.container{
    width: 950px;
    background-color: silver;
    margin: 0px auto;
    padding: 15px;
}
.top-nav {
    height: 150px;
    background-color: green;
}
.side-nav {
    height: 300px;
    width: 200px;
    background-color: blue;
    margin: 50px 10px;
}
.main {
    height: 400px;
    width: 700px;
    background-color: red;
    margin: 50px 20px 10px;
}
.sub-content {
    height: 200px;
    width: 210px;
    background-color: yellow;
    display: inline-block;
    border: 10px solid red;
}
#advertisement {
    height: 120px;
    width: 660px;
    background-color: purple;
    margin: 20px;
}
.row {
    display: flex;
}